<% content_for :body_content_left do %>
  <ul id="ballots">
    <% @ballots.each do |ballot| %>
      <li>
        <%= link_to ballot.title, ballot_path(ballot) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
