.ballot ol li, .ballot_vote ol li {
  list-style: none;
}


#body_content .left-column {
  float: left;
  padding-left: 50px;
  margin: 0px;
  width: 45%;
}

#body_content .right-column {
  float: right;
  margin: 0px;
  width: 45%;
}
