<ul>
  <% if Admin::CampaignsController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_campaigns_path
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_campaign_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::CampaignsController.sortable? and Campaign.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Campaigns"),
                 admin_campaigns_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Campaigns"),
                 admin_campaigns_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>