<h4><%= office_vote.office.title %></h4>

<% candidate_votes = office_vote.candidate_votes.select(&:voted) %>


<% if candidate_votes.size.zero? %>
  <div class="errorExplanation warningExplanation">
    <ul><li>You did not vote.</li></ul>
  </div>

  <ol class="candidates">
  </ol>
<% else %>
  
  <% if undervoted? office_vote %>
    <div class="errorExplanation warningExplanation">
      <ul>
        <li><%= undervote_message_for office_vote %></li>
      </ul>
    </div>
  <% end %>
  
  <ol class="candidates">
    <% candidate_votes.each do |candidate_vote| %>
      <li><%= candidate_vote.name %></li>
    <% end %>
  </ol>
<% end %>


